Repository IET-NITK/IET-NITK.github.io, pull requests merged in 2021-06, with the labels that each got.

#99 fixed image mal-lignment on blog articles and thumbnail
  package-lock.json
  src/assets/css/modern.css
  src/assets/css/modern.min.css
  src/templates/blog-post.js
Labels: kind/fix, size/huge

#110 Fix alignment issue
  src/components/helper.js
Labels: kind/fix, size/tiny

#115 Update footer
  gatsby-browser.js
  package.json
  src/assets/css/custom.css
  src/assets/css/modern.css
  src/assets/img/link.svg
  src/components/partials/footer.js
  src/components/partials/navbar.js
  src/pages/about.js
  src/pages/index.js
Labels: kind/documentation, size/L
