Repository IET-NITK/IET-NITK.github.io, pull requests merged in 2024-03, with the labels that each got.

#977 Project Expo 24
  package.json
  pnpm-lock.yaml
  public/CommUnity.png
  public/event-response.json
  public/man.png
  public/pattern.jpg
  public/project-response.json
  src/app/contact/page.jsx
  src/app/expo/expo.module.css
  src/app/expo/page.jsx
  src/app/help/page.jsx
  src/app/projects/cipher/page.jsx
  src/app/projects/page.js
  src/app/projects/rovisp/page.jsx
  src/app/projects/torsion/page.jsx
  src/app/projects/venture/page.jsx
  src/components/Navbar/Navbar.jsx
  src/components/Navbar/Navbar.module.css
  src/components/ProjectCard.js
  src/components/ProjectsPage.js
  src/components/about.js
  src/components/about.module.scss
  src/components/blog/Blogcard.jsx
  src/components/event/eventCard.jsx
  src/components/footer.jsx
  src/components/particles.jsx
  src/components/project/projectList.jsx
  src/components/ui/skeleton.jsx
  tailwind.config.js
Labels: kind/feature, size/XL

#978 removed particle.js
  package.json
Labels: kind/documentation, size/XS

#979 Delete pnpm-lock.yaml
  pnpm-lock.yaml
Labels: kind/feature

#980 Update package.json
  package.json
Labels: kind/documentation, size/XS

#981 added expo projects
  pnpm-lock.yaml
  public/project-response.json
  src/app/expo/page.jsx
  src/app/projects/cipher/page.jsx
  src/app/projects/rovisp/page.jsx
  src/app/projects/torsion/page.jsx
  src/app/projects/venture/page.jsx
  src/components/ProjectsPage.js
  src/components/project/projectList.jsx
Labels: kind/documentation

#982 fixed bug in projects page
  src/components/ProjectsPage.js
  src/components/project/projectList.jsx
Labels: kind/documentation, size/S
